{{#if results}}
<div class="list-group results">
  {{#each results}}
    <div class="list-group-item">
      {{#isType this "citation"}}
      <a href="{{url}}" class="result name-link {{#if topCopy}}top-copy{{/if}}">
        {{fullName this}}
      </a>
      {{#if inPowo}}
      <span class="powo label label-primary pull-right">
        <a href="http://powo.science.kew.org/taxon/{{id}}" target="_blank" data-toggle="tooltip" data-placement="top" title="For taxonomic data view in Plants of the World Online">POWO</a>
      </span>
      {{/if}}
      {{#if bhlLink}}
        <span class="bhl label label-primary pull-right">
          <a href="{{bhlLink}}" target="_blank" data-toggle="tooltip" data-placement="top" title="View the protologue in BHL">BHL</a>
        </span>
      {{/if }}
      {{/isType}}

      {{#isType this "author"}}
      <a href="{{url}}" class="result author-link top-copy">
        <span class="glyphicon glyphicon-user"></span>
        {{standardForm}} &ndash; {{forename}} {{surname}} {{#if dates}}({{dates}}){{/if}}
      </a>
      {{#if hasBhlLinks}}
        <span class="bhl label label-primary pull-right">
          <a href="{{bhlPageLinks}}" target="_blank" data-toggle="tooltip" data-placement="top" title="View TL-2 information for this author in BHL">BHL</a>
        </span>
      {{/if }}
      {{/isType}}

      {{#isType this "publication"}}
      <a href="{{url}}" class="result publication-link top-copy">
        <span class="glyphicon glyphicon-book"></span>
        {{title}}
      </a>
      {{#with bhlTitleLinks}}
        <span class="bhl label label-primary pull-right">
          <a href="{{this.[0]}}" target="_blank" data-toggle="tooltip" data-placement="top" title="Read this publication in BHL">BHL</a>
        </span>
      {{/with }}
      {{/isType}}
    </div>
  {{/each}}
</div>
{{else}}
  <div class="no-results">No results. Please try a different search.</div>
{{/if}}
