{{#with results}}
<div class="list-group results">

  {{#each this}}
    {{#isType this "citation"}}
    <a href="{{url}}" class="list-group-item result name-link {{#if topCopy}}top-copy{{/if}}">
      {{fullName this}}
      {{#if inPowo}}
        <span class="powo label label-success pull-right">POWO</span>
      {{/if}}
      {{#if bhlLink}}
        <span class="bhl label label-primary pull-right">BHL</span>
      {{/if }}
    </a>
    {{/isType}}

    {{#isType this "author"}}
    <a href="{{url}}" class="list-group-item result author-link top-copy">
      <span class="glyphicon glyphicon-user"></span>
      {{surname}}, {{forename}} ({{standardForm}})
      {{#if hasBhlLinks}}
        <span class="bhl label label-primary pull-right">BHL</span>
      {{/if }}
    </a>
    {{/isType}}

    {{#isType this "publication"}}
    <a href="{{url}}" class="list-group-item result publication-link top-copy">
      <span class="glyphicon glyphicon-book"></span>
      {{title}}
      {{#if hasBhlLinks}}
        <span class="bhl label label-primary pull-right">BHL</span>
      {{/if }}
    </a>
    {{/isType}}
  {{/each}}
</div>
{{/with}}
