<div id="c-page-body" class="panel panel-default c-search-results">
  <div class="panel-heading">
      <div class="btn-group filter-by">
        <button class="btn btn-xs btn-default disabled" >Filter by:</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_familial"}}" id="f_familial">Familial</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_infrafamilial"}}" id="f_infrafamilial">Infrafamilial</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_generic"}}" id="f_generic">Generic</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_infrageneric"}}"  id="f_infrageneric">Infrageneric</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_specific"}}" id="f_specific">Specific</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_infraspecific"}}" id="f_infraspecific">Infraspecific</button>
        <button type="button" class="btn btn-xs btn-default{{highlight f "f_hybrid"}}"  id="f_hybrid"> Hybrid</button>
      </div>
      <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></button>
        <ul class="sort-by dropdown-menu dropdown-menu-right">
          <li class="{{highlight sort "name_asc"}}"><a id="name_asc" href="#">Name A-Z</a></li>
          <li class="{{highlight sort "name_desc"}}"><a id="name_desc" href="#">Name Z-A</a></li>
          <li class="{{highlight sort "published_asc"}}"><a id="published_asc" href="#">Date Published - Oldest first</a></li>
          <li class="{{highlight sort "published_desc"}}"><a id="published_desc" href="#">Date Published - Newest first</a></li>
        </ul>
      </div>
      <button type=button class="btn btn-xs btn-info show-detailed-record"> Expand Results</button>
      <button type="button" class="btn btn-xs btn-info" disabled="disabled">Download <span class="glyphicon glyphicon-download"></button>
    </div>
    {{totalResults}} results
    <div class="clearfix"></div>
  </div>
  {{#if expanded}}
    {{> results-list-expanded }}
  {{else}}
  {{#with results}}
  <div class="list-group results">

    {{#each this}}
      {{#isType this "citation"}}
      <a href="{{url}}" class="list-group-item result name-link {{#if topCopy}}top-copy{{/if}}">
        {{fullName this}}
        <span class="pull-right tag">
          {{#if inPowo}}
            <span class="powo">POWO</span>
          {{/if}}
        </span>
      </a>
      {{/isType}}

      {{#isType this "author"}}
      <a href="{{url}}" class="list-group-item result author-link top-copy">
        <span class="glyphicon glyphicon-user"></span>
        {{surname}}, {{forename}} ({{standardForm}})
      </a>
      {{/isType}}

      {{#isType this "publication"}}
      <a href="{{url}}" class="list-group-item result publication-link top-copy">
        <span class="glyphicon glyphicon-book"></span>
        {{title}}
        <span class="pull-right tag">
          {{#withBhlPage remarks}}
            <span class="bhl">BHL</span>
          {{/withBhlPage}}
        </span>
      </a>
      {{/isType}}
    {{/each}}
  </div>
  {{/with}}
  {{/if}}
  <div class="panel-footer">
    <div class="c-pagination"></div>
    <select class="c-per-page form-control hidden">
      <option {{selected perPage 50}} value="50">50 results per page</option>
      <option {{selected perPage 100}} value="100">100 results per page</option>
      <option {{selected perPage 500}} value="500">500 results per page</option>
    </select>
  </div>
</div>
