<div id="c-search-results" class="panel panel-default">
  <div class="panel-heading">
    {{totalResults}} results
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-xs btn-defualt dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></button>
      <ul class="sort-by dropdown-menu dropdown-menu-right">
        <li class="{{highlight sort "name_asc"}}"><a id="name_asc" href="#">Name A-Z</a></li>
        <li class="{{highlight sort "name_desc"}}"><a id="name_desc" href="#">Name Z-A</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  {{#with results}}
  <div class="list-group">
    {{#each this}}
      <a href="{{url}}" class="list-group-item"><small>{{family}}</small> <em>{{name}}</em> {{author}} -- <small>{{publication}}</small></a>
    {{/each}}
  </div>
  {{/with}}
  <div class="panel-footer">
    <div class="c-pagination"></div>
  </div>
</div>
