<div id="c-page-body" class="panel panel-default c-author">
  <div class="panel-heading detail-heading">
    {{#if hasBhlLinks}}
      <a class="bhl btn btn-xs btn-default pull-right" href="{{bhlPageLinks}}" target="_blank" data-toggle="tooltip" data-placement="left" title="View TL-2 information for this author in BHL">BHL</a>
    {{/if }}
    <h2> <span class="glyphicon glyphicon-user glyphicon-in-title"></span> {{surname}}, {{forename}} ({{dates}})</h2>
  </div>

  <div class="panel-body">
    <dl>
      <dt>Standard Form</dt><dd>{{standardForm}}</dd>
      {{#if alternativeAbbreviations}}<dt>Alternative Abbreviations</dt><dd>{{alternativeAbbreviations}}</dd>{{/if}}
      {{#if alternativeNames}}<dt>Alternative Names</dt><dd>{{alternativeNames}}</dd>{{/if}}
      {{#if taxonGroups}}<dt>Area of Interest</dt><dd>{{taxonGroups}}</dd>{{/if}}
      {{#if source}}<dt>Information Source</dt><dd>{{source}}</dd>{{/if}}
      {{#if examples}}<dt>Example of Name Published</dt><dd>{{examples}}</dd>{{/if}}
      {{#if comments}}<dt>Comments</dt><dd>{{comments}}</dd>{{/if}}
      {{#if notes}}<dt>Name Notes</dt><dd>{{notes}}</dd>{{/if}}
      {{#if isoCountries}}<dt>Countries</dt><dd>{{isoCountries}}</dd>{{/if}}
    </dl>
    <div class="names-in-page">
    </div>
  </div>
</div>
