<div id="c-page-body" class="panel panel-default c-author">
  <div class="panel-heading">
    {{#if hasBhlLinks}}
      <span class="bhl label label-primary pull-right">BHL</span>
    {{/if }}
    {{#if inPowo}}
      <span class="powo label label-success pull-right">POWO</span>
    {{/if}}
    <h2>{{surname}}, {{forename}} ({{dates}})</h2>
  </div>

  <div class="panel-body">
    <dl>
      <dt>Standard Form</dt><dd>{{standardForm}}</dd>
      {{#if alternativeAbbreviations}}<dt>Alternative Abbreviations</dt><dd>{{alternativeAbbreviations}}</dd>{{/if}}
      {{#if alternativeNames}}<dt>Alternative Names</dt><dd>{{alternativeNames}}</dd>{{/if}}
      {{#if taxonGroups}}<dt>Area of Interest</dt><dd>{{taxonGroups}}</dd>{{/if}}
      {{#if source}}<dt>Information Source</dt><dd>{{source}}</dd>{{/if}}
      {{#if examples}}<dt>Example of Name Published</dt><dd>{{examples}}</dd>{{/if}}
        {{#if comments}}
          <dt>Comments</dt><dd>
            {{#each bhlPageLinks}}
            <p>View the <a href="{{this}}" target="_blank">TL-2 metadata</a> for this publication</p>
            {{/each}}
          </dd>
        {{/if}}
      {{#if notes}}<dt>Name Notes</dt><dd>{{notes}}</dd>{{/if}}
      {{#if isoCountries}}<dt>Countries</dt><dd>{{isoCountries}}</dd>{{/if}}
    </dl>
    {{> namesInPage section-title="Names Published by Author"}}
  </div>
</div>
