<div id="c-page-body" class="panel panel-default c-citation">
  <div class="panel-heading detail-heading">
    {{#if inPowo}}
      <a href="http://powo.science.kew.org/taxon/{{id}}" class="powo btn btn-xs btn-default pull-right"target="_blank" data-toggle="tooltip" data-placement="top" title="For taxonomic data view in Plants of the World Online">POWO</a>
    {{/if}}
    {{#if bhlLink}}
      <a class="bhl btn btn-xs btn-default pull-right" href="{{bhlLink}}" target="_blank" data-toggle="tooltip" data-placement="top" title="View the protologue in BHL">BHL</a>
    {{/if }}
    {{linkedFullName this}}
  </div>

  <div class="panel-body">
    {{#if suppressed}}
      <div class="alert alert-danger" role="alert"><strong>This record is suppressed.</strong> This can happen for a variety of reasons and is only accessible to preserve persistent identifiers.</div>
    {{/if}}
    <dl>
      <dt>IPNI Identifier</dt><dd>{{fqId}}</dd>
      {{#if infraspecies }}
        {{#each parent }}
          <dt>Species Name</dt>
          <dd>
          <a href="{{url}}" class="name-link">{{fullName this}}</a>
          </dd>
        {{/each}}
      {{/if}}
      {{#if publication}}
        {{#if linkedPublication}}
          <dt>Publication</dt><dd><a href="{{linkedPublication.url}}" class="publication-link">{{linkedPublication.title}}</a></dd>
        {{else}}
          <dt>Publication</dt><dd>{{publication}}</dd>
        {{/if}}
        {{#if referenceCollation}}
          <dt>Collation</dt><dd>{{referenceCollation}}</dd>
        {{/if}}
        {{#if publicationYearNote}}
          <dt>Date of Publication</dt><dd>{{publicationYearNote}}</dd>
        {{/if}}
      {{/if}}

      {{#if family}}
      <dl class="ipni-dl-indented">
        <dt>Family as entered in IPNI
          <a href="#" data-toggle="tooltip" data-placement="right" title="Families in IPNI may not follow APG IV as for genera published after 1992, IPNI enters the family as given by the authors. Genera published before that date normally follow Brummitt (1992). Vascular Plant Families and Genera.">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
        </dt>
        <dd>{{family}}</dd>
      </dl>
      {{/if}}
    </dl>

    {{#if hasTypeData}}
      <h4>Type Information</h4>
      <dl>
        {{#if typeName}}
          <dt>Type Name</dt><dd>{{typeName}}</dd>
        {{/if}}
        {{#if collectorTeam}}
          <dt>Collector Team</dt><dd>{{{collectorTeam}}} {{collectionNumber}}</dd>
        {{/if}}
        {{#if locality}}
          <dt>Locality</dt><dd>{{locality}}</dd>
        {{/if}}
        {{#if collectionDate1}}
          <dt>Collection Date</dt><dd>{{collectionDate1}}</dd>
        {{/if}}
        {{#if collectionDate2}}
          <dt>Second Collection Date</dt><dd>{{collectionDate2}}</dd>
        {{/if}}
        {{#if bibliographicTypeInfo}}
          <dt>Bibliographic Type Information</dt><dd>{{bibliographicTypeInfo}}</dd>
        {{/if}}
        {{#if typeLocations}}
          <dt>Type Locations</dt><dd>{{breakLines typeLocations}}</dd>
        {{/if}}
        {{#if geographicUnit}}
          <dt>Geographic Unit</dt><dd>{{geographicUnit}}</dd>
        {{/if}}
        {{#if typeCoordinates.valid}}
          <dt>Latitude</dt><dd>{{typeCoordinates.formattedLatitude}}</dd>
          <dt>Longitude</dt><dd>{{typeCoordinates.formattedLongitude}}</dd>
        {{/if}}
        {{#if typeChosenBy}}
          <dt>Chosen By</dt><dd><i>{{{typeChosenBy}}}</i> {{bibliographicReference}}</dd>
        {{/if}}
        {{#if bibliographicTypeInfo}}
          <dt>Type Published in</dt><dd>{{bibliographicTypeInfo}}</dd>
        {{/if}}
        {{#if distribution}}
          <dt>Protologue Distribution</dt><dd>{{breakLines distribution}}</dd>
        {{/if}}
        {{#if typeNote}}
          <dt>Type Specimen Note</dt><dd>{{typeNote}}</dd>
        {{/if}}
        {{#if typeRemarks}}
          <dt>Type Remarks</dt><dd>{{typeRemarks}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if hasOriginalData}}
      <h4>Original Data</h4>
      <dl>
        {{#if originalRemarks}}
          <dt>Remarks</dt><dd>{{originalRemarks}}</dd>
        {{/if}}
        {{#if originalHybridParentage}}
          <dt>Hybrid Parentage</dt><dd>{{originalHybridParentage}}</dd>
        {{/if}}
        {{#if originalReplacedSynonym}}
          <dt>Replaced Synonym</dt><dd>{{originalReplacedSynonym}} {{originalReplacedSynonymAuthorTeam}}</dd>
        {{/if}}
        {{#if originalTaxonDistribution}}
          <dt>Distribution</dt><dd>{{originalTaxonDistribution}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if hasNomenclaturalNotes}}
      <h4>Nomenclatural Notes</h4>
      {{#if nameStatus}}<p>Status: {{nameStatus}}</p>{{/if}}
      {{#if referenceRemarks}}<p>{{referenceRemarks}}</p>{{/if}}
    {{/if}}

    {{#if remarks}}
      <h4>Remarks</h4>
      <p>{{linkDoi remarks}}</p>
    {{/if}}

    {{#if hasLinks}}
      <h4>Links</h4>
      <dl>
        {{#each basionym}}
          <dt>Basionym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each basionymOf}}
          <dt>Basionym of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each conservedAgainst}}
          <dt>Conserved against</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each rejectedInFavorOf}}
          <dt>Rejected in favor of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each correctionOf}}
          <dt>Correction of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each correctedBy}}
          <dt>Corrected by</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each isonymOf}}
          <dt>Isonym of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each laterHomonymOf}}
          <dt>Later homonym of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each hasLaterHomonym}}
          <dt>Has later homonym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each nomenclaturalSynonym}}
          <dt>Nomenclatural link</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each replacedSynonym}}
          <dt>Replaced synonym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each replacedSynonymOf}}
          <dt>Replaced synonym of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each sameCitationAs}}
          <dt>Same citation as</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each duplicateCitationOf}}
          <dt>Duplicate citation of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each superfluousNameOf}}
          <dt>Superfluous name of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each hasSuperfluousName}}
          <dt>Has superfluous name</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each type}}
          <dt>Type</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each typeOf}}
          <dt>Type of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each validationOf}}
          <dt>Validation of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each validatedBy}}
          <dt>Validated by</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each orthographicVariantOf}}
          <dt>Orthographic variant of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each hasOrthographicVariant}}
          <dt>Has orthographic variant</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each hybridParents}}
          <dt>Hybrid Parent</dt><dd><a href="{{this.url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
      {{/if}}
      </dl>
      <a class="hidden show-full-record pull-right name-link" href="{{url}}">Full Record</a>
  </div>
</div>
