<div id="c-page-body" class="panel panel-default c-citation">
  <div class="panel-heading detail-heading">
    {{#if inPowo}}
      <a class="powo btn btn-xs btn-default pull-right" href="http://powo.science.kew.org/taxon/{{id}}" target="_blank" data-toggle="tooltip" data-placement="left" title="For taxonomic data view in Plants of the World Online">POWO</a>
    {{/if}}
    {{#if bhlLink}}
      <a class="bhl btn btn-xs btn-default pull-right" href="{{bhlLink}}" target="_blank" data-toggle="tooltip" data-placement="left" title="View the protologue in BHL">BHL</a>
    {{/if }}
    {{linkedFullName this}}
  </div>

  <div class="panel-body">
    <dl>
      <dt>Ipni ID</dt><dd>{{fqId}}</dd>
      {{#if infraspecies }}
        {{#each parent }}
          <dt>Species Name</dt>
          <dd>
          <a href="{{url}}" class="name-link">{{fullName this}}</a>
          </dd>
        {{/each}}
      {{/if}}
      {{#if publication}}
        {{#if linkedPublication}}
          <dt>Publication</dt><dd><a href="{{linkedPublication.url}}" class="publication-link">{{linkedPublication.title}}</a></dd>
        {{else}}
          <dt>Publication</dt><dd>{{publication}}</dd>
        {{/if}}
        {{#if referenceCollation}}
          <dt>Collation</dt><dd>{{referenceCollation}}</dd>
        {{/if}}
        {{#if publicationYearNote}}
          <dt>Date of Publication</dt><dd>{{publicationYearNote}}</dd>
        {{/if}}
      {{/if}}

      {{#if family}}
      <dl class="ipni-dl-indented">
        <dt>Family as entered in IPNI
          <a href="#" data-toggle="tooltip" data-placement="right" title="Families in IPNI may not follow APG IV as for genera published after 1992, IPNI enters the family as given by the authors. Genera published before that date normally follow Brummitt (1992). Vascular Plant Families and Genera.">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
        </dt>
        <dd>{{family}}</dd>
      </dl>
      {{/if}}
    </dl>

    {{#if hasTypeData}}
      <h4>Type Information</h4>
      <dl>
        {{#if typeName}}
          <dt>Type Name</dt><dd>{{typeName}}</dd>
        {{/if}}
        {{#if bibliographicTypeInfo}}
          <dt>Type Information</dt><dd>{{bibliographicTypeInfo}}</dd>
        {{/if}}
        {{#if typeLocations}}
          <dt>Type Locations</dt><dd>{{breakLines typeLocations}}</dd>
        {{/if}}
        {{#if geographicUnit}}
          <dt>Geographic Unit</dt><dd>{{geographicUnit}}</dd>
        {{/if}}
        {{#if locality}}
          <dt>Type Locality</dt><dd>{{locality}}</dd>
        {{/if}}
        {{#if latitudeDegrees}}
          <dt>Latitude</dt>
          <dd>
            {{#if latitudeDegrees}}{{latitudeDegrees}}° {{/if}}
            {{#if latitudeMinutes}}{{latitudeMinutes}}' {{/if}}
            {{#if latitudeSeconds}}{{latitudeSeconds}}" {{/if}}
            {{northOrSouth}}
          </dd>
          <dt>Longitude</dt>
          <dd>
            {{#if longitudeDegrees}}{{longitudeDegrees}}° {{/if}}
            {{#if longitudeMinutes}}{{longitudeMinutes}}' {{/if}}
            {{#if longitudeSeconds}}{{longitudeSeconds}}" {{/if}}
            {{eastOrWest}}
          </dd>
        {{/if}}
        {{#if collectorTeam}}
          <dt>Collector Team</dt><dd>{{{collectorTeam}}} {{collectionNumber}}</dd>
        {{/if}}
        {{#if collectionDate1}}
          <dt>Collection Date</dt><dd>{{collectionDate1}}</dd>
        {{/if}}
        {{#if collectionDate2}}
          <dt>Second Collection Date</dt><dd>{{collectionDate2}}</dd>
        {{/if}}
        {{#if bibliographicReference}}
          <dt>Type Published in</dt><dd>{{bibliographicReference}}</dd>
        {{/if}}
        {{#if distribution}}
          <dt>Protologue Distribution</dt><dd>{{breakLines distribution}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if hybridParents}}
      <h4>Hybrid Information</h4>
      <dl>
        <dt>Hybrid Parents</dt>
        <dd>
        <ul class="list-unstyled">
          {{#each hybridParents}}
            <li><a href="{{this.url}}" class="name-link">{{fullName this}}</a></li>
          {{/each}}
        </ul>
        </dd>
      </dl>
    {{/if}}

    {{#if hasOriginalData}}
      <h4>Original Data</h4>
      <dl>
        {{#if originalRemarks}}
          <dt>Remarks</dt><dd>{{originalRemarks}}</dd>
        {{/if}}
        {{#if originalHybridParentage}}
          <dt>Hybrid Parentage</dt><dd>{{originalHybridParentage}}</dd>
        {{/if}}
        {{#if originalReplacedSynonym}}
          <dt>Replaced Synonym</dt><dd>{{originalReplacedSynonym}} {{originalReplacedSynonymAuthorTeam}}</dd>
        {{/if}}
        {{#if originalTaxonDistribution}}
          <dt>Distribution</dt><dd>{{originalTaxonDistribution}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if hasNomenclaturalNotes}}
      <h4>Nomeclatural Notes</h4>
      {{#if nameStatus}}<p>Status: {{nameStatus}}</p>{{/if}}
      {{#if referenceRemarks}}<p>{{referenceRemarks}}</p>{{/if}}
    {{/if}}

    {{#if remarks}}
      <h4>Remarks</h4>
      <p>{{linkDoi remarks}}</p>
    {{/if}}

    {{#if hasLinks}}
      <h4>Links</h4>
      <dl>
        {{#each basionym}}
          <dt>Basionym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each conservedAgainst}}
          <dt>Conserved Against</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each correctionOf}}
          <dt>Correction Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each isonymOf}}
          <dt>Isonym Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each laterHomonymOf}}
          <dt>Later Homonym Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each nomenclaturalSynonym}}
          <dt>Nomenclatural Synonym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each replacedSynonym}}
          <dt>Replaced Synonym</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each sameCitationAs}}
          <dt>Same Citation As</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each superfluousNameOf}}
          <dt>Superfluous Name Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each validationOf}}
          <dt>Validation Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
        {{#each orthographicVariantOf}}
          <dt>Orthographic Variant Of</dt><dd><a href="{{url}}" class="name-link">{{fullName this}}</a></dd>
        {{/each}}
      {{/if}}
      </dl>
  </div>
</div>
