<div id="c-page-body" class="panel panel-default c-citation">
  <div class="panel-heading">
    <h2><i>{{showName this}}</i> {{linkAuthor this}} </h2>
    {{#if publicationId}}
      <a href="/{{publicationId}}" class="publication-link">{{publication}}</a>
    {{else}}
      {{publication}}
    {{/if}}
    {{referenceCollation}} {{#if publicationYear}}({{publicationYear}}){{/if}}
  </div>

  <div class="panel-body">
    <dl>
      <dt>Ipni ID</dt><dd>{{id}}</dd>
      {{#if publication}}
        {{#if publicationId}}
          <dt>Publication</dt><dd><a href="/{{publicationId}}" class="publication-link">{{publication}}</a></dd>
        {{else}}
          <dt>Publication</dt><dd>{{publication}}</dd>
        {{/if}}
        {{#if referenceCollation}}
          <dt>Collation</dt><dd>{{referenceCollation}}</dd>
        {{/if}}
        {{#if publicationYearNote}}
          <dt>Publication Year Note</dt><dd>{{publicationYearNote}}</dd>
        {{/if}}
      {{/if}}

      {{#if family}}
      <dl class="ipni-dl-indented">
        <dt>Family as entered in IPNI
          <a href="#" data-toggle="tooltip" data-placement="right" title="Families in IPNI do not follow APG IV">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          </a>
        </dt>
        <dd>{{family}}</dd>
      </dl>
      {{/if}}
    </dl>

    {{#if hasTypeData}}
      <h4>Type Information</h4>
      <dl>
        {{#if typeName}}
          <dt>Type Name</dt><dd> {{typeName}}</dd>
        {{/if}}
        {{#if bibliographicTypeInfo}}
          <dt>Type Information</dt><dd> {{bibliographicTypeInfo}}</dd>
        {{/if}}
        {{#if typeLocations}}
          <dt>Type Locations</dt><dd> {{typeLocations}}</dd>
        {{/if}}
        {{#if geographicUnit}}
          <dt>Geographic Unit</dt><dd> {{geographicUnit}}</dd>
        {{/if}}
        {{#if locality}}
          <dt>Type Locality</dt><dd> {{locality}}</dd>
        {{/if}}
        {{#if latitudeDegrees}}
          <dt>Latitude</dt><dd> {{latitudeDegrees}} {{latitudeMinutes}} {{latitudeSeconds}} {{northOrSouth}}</dd>
          <dt>Longitude</dt><dd> {{longitudeDegrees}} {{longitudeMinutes}} {{longitudeSeconds}} {{eastOrWest}}</dd>
        {{/if}}
        {{#if collectorTeam}}
          <dt>Collector Team</dt><dd> {{collectorTeam}} {{collectorNumber}}</dd>
        {{/if}}
        {{#if bibliographicReference}}
          <dt>Type Published in</dt><dd> {{bibliographicReference}}</dd>
        {{/if}}
        {{#if distribution}}
          <dt>Type Distribution from Protologue</dt><dd> {{distribution}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if hybridParents}}
      <h4>Hybrid Information</h4>
      <dl>
        <dt>Hybrid Parents</dt>
        <dd>
        <ul>
          {{#each hybridParents}}
            <li><a href="{{this.url}}" class="name-link">{{fullName this}}</a></li>
          {{/each}}
        </ul>
        </dd>
      </dl>
    {{/if}}

    {{#if hasOriginalData}}
      <h4>Original Data</h4>
      <dl>
        {{#if originalBasionym}}
          <dt>Basionym</dt><dd><a href="{{basionym.[0].url}}" class="name-link">{{fullName basionym.[0]}}</a></dd>
        {{/if}}
        {{#if originalRemarks}}
          <dt>Remarks</dt><dd>{{originalRemarks}}</dd>
        {{/if}}
        {{#if originalHybridParentage}}
          <dt>Hybrid Parentage</dt><dd>{{originalHybridParentage}}</dd>
        {{/if}}
        {{#if originalReplacedSynonym}}
          <dt>Replaced Synonym</dt><dd>{{originalReplacedSynonym}} {{originalReplacedSynonymAuthorTeam}}</dd>
        {{/if}}
        {{#if originalTaxonDistribution}}
          <dt>Distribution</dt><dd>{{originalTaxonDistribution}}</dd>
        {{/if}}
      </dl>
    {{/if}}

    {{#if nameStatus}}
      <h4>Nomeclatural Notes</h4>
      <dl>
        <dt>Name Status</dt><dd> {{nameStatus}}</dd>
      </dl>
    {{/if}}

    {{#if remarks}}
      <h4>Remarks</h4>
      <p>{{linkDoi remarks}}</p>
    {{/if}}

    {{#if hasLinks}}
      <h4>Links</h4>
      <dl>
        {{#if conservedAgainst}}
          <dt>Conserved Against</dt><dd><a href="{{conservedAgainst.[0].url}}" class="name-link">{{fullName conservedAgainst.[0]}}</a></dd>
        {{/if}}
        {{#if correctionOf}}
          <dt>Correction Of</dt><dd><a href="{{correctionOf.[0].url}}" class="name-link">{{fullName correctionOf.[0]}}</a></dd>
        {{/if}}
        {{#if isonymOf}}
          <dt>Isonym Of</dt><dd><a href="{{isonymOf.[0].url}}" class="name-link">{{fullName isonymOf.[0]}}</a></dd>
        {{/if}}
        {{#if laterHomonymOf}}
          <dt>Later Homonym Of</dt><dd><a href="{{laterHomonymOf.[0].url}}" class="name-link">{{fullName laterHomonymOf.[0]}}</a></dd>
        {{/if}}
        {{#if nomenclaturalSynonym}}
          <dt>Nomenclatural Synonym</dt><dd><a href="{{nomenclaturalSynonym.[0].url}}" class="name-link">{{fullName nomenclaturalSynonym.[0]}}</a></dd>
        {{/if}}
        {{#if nomenclaturalSynonym}}
          <dt>Nomenclatural Synonym</dt><dd><a href="{{nomenclaturalSynonym.[0].url}}" class="name-link">{{fullName nomenclaturalSynonym.[0]}}</a></dd>
        {{/if}}
        {{#if replacedSynonym}}
          <dt>Replaced Synonye</dt><dd><a href="{{replacedSynonym.[0].url}}" class="name-link">{{fullName replacedSynonym.[0]}}</a></dd>
        {{/if}}
        {{#if sameCitationAs}}
          <dt>Same Citation As</dt><dd><a href="{{sameCitationAs.[0].url}}" class="name-link">{{fullName sameCitationAs.[0]}}</a></dd>
        {{/if}}
        {{#if superfluousNameOf}}
          <dt>Superfluous Name Of</dt><dd><a href="{{superfluousNameOf.[0].url}}" class="name-link">{{fullName superfluousNameOf.[0]}}</a></dd>
        {{/if}}
        {{#if validationOf}}
          <dt>Validation Of</dt><dd><a href="{{validationOf.[0].url}}" class="name-link">{{fullName validationOf.[0]}}</a></dd>
        {{/if}}
        {{#if orthographicVariantOf}}
          <dt>Orthographic Variant Of</dt><dd><a href="{{orthographicVariantOf.[0].url}}" class="name-link">{{fullName orthographicVariantOf.[0]}}</a></dd>
        {{/if}}
      {{/if}}
      </dl>
      {{#if inPowo}}
        <p>For taxonomic data view in <a href="http://powo.science.kew.org/taxon/{{id}}">Plants of the World Online</a></p>
      {{/if}}
  </div>
</div>
