<div class="section-title">
  <strong>{{section-title}}</strong>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></button>
      <ul class="sort-by-in-page dropdown-menu dropdown-menu-right">
        <li class="{{highlight sort "name_asc"}}"><a id="name_asc" href="#">Name A-Z</a></li>
        <li class="{{highlight sort "name_desc"}}"><a id="name_desc" href="#">Name Z-A</a></li>
        <li class="{{highlight sort "published_asc"}}"><a id="published_asc" href="#">Date Published - Oldest first</a></li>
        <li class="{{highlight sort "published_desc"}}"><a id="published_desc" href="#">Date Published - Newest first</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="name-results">
</div>
<div class="c-pagination-in-page"></div>
