<div id="c-page-body" class="panel panel-default c-publication">
  <div class="panel-heading detail-heading">
    {{#if hasBhlLinks}}
      <a class="bhl btn btn-xs btn-default pull-right" href="#bhl-links">BHL</a>
    {{/if }}
    <h2>{{title}}</h2>
  </div>

  <div class="panel-body">
    <dl>
      <dt>Standard Form</dt><dd>{{abbreviation}}</dd>
      {{#if isbn}}<dt>ISBN</dt><dd>{{isbn}}</dd>{{/if}}
      {{#if issn}}<dt>ISSN</dt><dd>{{issn}}</dd>{{/if}}
      {{#if date}}<dt>Dates</dt><dd>{{date}}</dd>{{/if}}
      {{#if lcNumber}}<dt>Library of Congress Number</dt><dd>{{lcNumber}}</dd>{{/if}}
      {{#if bphNumber}}<dt>BPH Number</dt><dd>{{bphNumber}}</dd>{{/if}}
      {{#if precededBy}}<dt>Preceded By</dt><dd>{{precededBy}}</dd>{{/if}}
      {{#if supercededBy}}<dt>Superceded By</dt><dd>{{supercededBy}}</dd>{{/if}}
      {{#if comments}}<dt>Comments</dt><dd>{{comments}}</dd>{{/if}}
      {{#if remarks}}<dt>Remarks</dt><dd>{{remarks}}</dd>{{/if}}
      {{#if tl2Author}}<dt>TL2 Author</dt><dd>{{tl2Author}}</dd>{{/if}}
      {{#if tl2Number}}<dt>TL2 Number</dt><dd>{{tl2Number}}</dd>{{/if}}
      {{#if hasBhlLinks}}
      <dt id="bhl-links">BHL</dt>
      <dd>
        {{#each bhlPageLinks}}
        <p>View the <a href="{{this}}" target="_blank">TL-2 metadata</a> for this publication</p>
        {{/each}}
        {{#each bhlTitleLinks}}
        <p>Read this <a href="{{this}}" target="_blank">publication</a></p>
        {{/each}}
      </dd>
      {{/if}}
    </dl>
    {{> namesInPage section-title="Names Published in Publication"}}
  </div>
</div>
